MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/collegeDB?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
STAFF_SECRET=your_staff_registration_key
ADMIN_SECRET=your_admin_registration_key
FRONTEND_URL=https://your-vercel-app.vercel.app
